<h1>Say#hello</h1>
<p> It is now <%= @time %>
</p>
Time to say <%= link_to "Goodbye", say_goodbye_path %>
<p>
<h1>Files in the current directory</h1>

<p>
    The files in the current directory are: 
</p>
<ul>    
    <% for file in @files %>
    <li><%= file; %></li>
    <% end %>
</ul>
<h1> Links </h1>
<p>
<% if user_signed_in? %>
Hey signed in as <%= current_user.email %>.Not you? 
<%= link_to 'logout', destroy_user_session_path, :method => "DELETE"%>
<% else %>
Hey <%= link_to "Login", new_user_session_path %> or Hey <%= link_to "Logup", new_user_registration_path %>
<% end %>
</p>

